@import "src/utils/variables";

.list-item {
  border-bottom: $light-border;
  margin: 5px;

  .titles-container {
    display: $flex-display;
    flex-direction: row;
    justify-content: space-between;
    padding: 4px;

    .avatar-title-container {
      display: $flex-display;
      flex-direction: row;
      align-items: $content-center;
    }

    .title,
    .subtitle {
      margin: 5px;
    }

    .title {
      font-size: 14px;
      font-weight: bold;
    }

    .subtitle {
      font-size: 12px;
    }
  }

  .content-container {
    padding: 4px;
    font-size: 12px;
  }
}
