@import "src/utils/variables";

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 0;
  background-color: $white;
  background-clip: border-box;
  border: $light-border;
  border-radius: $small-border-radius;

  .card-icon,
  .card-subicon {
    display: flex;
    justify-content: center;
  }

  .card-subicon {
    padding: 10px;
    align-items: center;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1;
    padding: 1.25rem;
    background-color: aliceblue;
    word-wrap: break-word;

    //.card-title {
    //  margin-bottom: 0.75rem;
    //}

    .card-content {
      margin-top: 0;
      margin-bottom: 1rem;

      .card-link {
        color: $blue;
        text-decoration: none;
        background-color: transparent;
      }
    }

    .card-action {
      cursor: pointer;
      color: $white;
      background-color: $blue;
      border-color: $blue;
      border-radius: $small-border-radius;
      height: 5vh;
      width: 10vw;
      min-width: 128px;
      min-height: 31px;
    }
  }
}
