@import "src/utils/variables";

.card {
  display: $flex-display;
  flex-direction: $flex-column;
  position: relative;
  background-color: $white;
  background-clip: border-box;
  border: $light-border;
  border-radius: $small-border-radius;

  .avatar {
    margin-top: 10px;
  }

  .card-icon,
  .card-subtitle {
    display: $flex-display;
    justify-content: $content-center;

    .icon {
      margin-right: 6px;
      margin-top: 3px;
    }
  }

  .card-subtitle {
    padding: 10px;
    align-items: $content-center;
    font-weight: bold;
  }

  .card-body {
    display: $flex-display;
    flex-direction: $flex-column;
    justify-content: space-between;
    flex: 1 1;
    padding: 1.25rem;
    background-color: aliceblue;
    word-wrap: break-word;

    .title {
      margin-top: 0;
    }

    .card-content {
      margin-top: 0;
      margin-bottom: 1rem;

      .card-link {
        color: $blue;
        text-decoration: none;
        background-color: transparent;
      }
    }
  }
}
