.empty-display-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  #warning-icon {
    width: 150px;
    height: 150px;
  }

  .empty-display-message {
    margin: 5px;
  }
}
