@import "src/utils/variables";

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  z-index: 2;
}

.modal.show {
  opacity: 1;
  pointer-events: visible;
}

.modal-content {
  display: flex;
  flex-direction: column;
  width: 500px;
  min-height: 230px;
  background-color: $white;
  transform: translateY(-200px);
  transition: all 0.3s ease-in-out;

  .modal-header,
  .modal-footer {
    padding: 10px;
  }

  .modal-header {
    border-bottom: 1px solid #eee;

    .modal-title {
      margin: 0;
    }
  }

  .modal-body {
    padding: 10px;
    overflow-y: scroll;
    max-height: 330px;
    flex: 1;
  }

  .modal-footer {
    width: 96%;
    border-top: 1px solid #eee;
    background-color: $white;

    .modal-button {
      color: $white;
      background-color: $red;
      border-color: $red;
      outline-color: $red;
      border-radius: $small-border-radius;
      height: 5vh;
      width: 10vw;
      min-width: 128px;
      cursor: pointer;
    }
  }
}

.modal.show .modal-content {
  transform: translateY(0);
}
