@import "src/utils/variables";

.navbar {
  display: $flex-display;
  justify-content: space-between;
  align-items: $content-center;
  padding: 0 10px 0 10px;
  width: 100%;
  min-height: 10vh;
  box-sizing: border-box;
  background-color: #24292e;
  transition: all 0.7s ease-in;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.51);

  .app-title {
    color: white;
    margin-left: 28px;
    margin-right: 28px;
  }

  .logo {
    cursor: $pointer-cursor;

    #github-icon {
      color: $white;
      width: 60px;
      height: 50px;
    }
  }

  .navigation {
    width: 100px;
    display: flex;
    justify-content: space-evenly;

    @media (max-width: 340px) {
      flex-direction: $flex-column;
    }

    a {
      cursor: $pointer-cursor;
      #email-icon,
      #linkedin-icon {
        width: 30px;
        height: 30px;
        color: $white;
      }
    }
  }
}
