$blue: #007bff;
$white: #fff;
$red: #dc3545;
$small-border-radius: 0.25rem;
$large-border-radius: 50%;
$loader-borders: 10px solid rgba(136, 136, 136, 0.2);
$light-border: 1px solid rgba(0, 0, 0, 0.125);
$pointer-cursor: pointer;
